a {
    color: #938461; 
}
div#layerslider {
    height: 425px!important;
}
h2.ls-layer {
    top: 40px!important;
    padding-top: 20px;
}
.ls-wrapper.ls-in-out {
    top: 0px!important;
    
}
.tile {
    background-color: #dcdcdc!important;
}
.get-a-quote {
    background-color: #938461;
}
.get-a-quote__link {
    color: #938461;
}
.main-menu>li.current-menu-parent>a, .main-menu>li.current-menu-item>a {
    background-color: #938461;
}
.main-menu>li>a:hover {
    background-color: #938461;
}
.main-footer a {
    color: #938461;
}
.blockquote::before, blockquote::before{
    color: #938461;
}
.blockquote::before, blockquote::after{
    color: #938461;
}
.service-blockquote__author{
    color: #938461;
}
.btn--ghost {
    color: #938461; 
}

.widget-address a.widget-address__link {
    color: #938461; 
}
.btn.btn-enviar{
    background-color: #938461;
    border:1px solid #938461;
    box-shadow:none;
}
@media only screen and (min-width: 1024px) {
    .hidden-desktop{
        display:none;
    }
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
    .hidden-mobile{
        display:none;
    }
    .row-fluid--menu .menu-search-row {
        margin: 0;
        padding: 24px 0 3px 0;
        height: 100%;
    }
    article.row.about-article {
        margin-bottom: 40px;
    }
    .mobile-margin-top{
        margin-top:30px;
    }
    .title-home-mobile{
        text-align: center;
        font-size: 27px;
        line-height: 32px;
    }
    h2.about-article__title {
        text-align: center;
        padding-top: 40px;
    }
}