<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Lawyer-Co - HTML template</title>
	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Gudea:400,400i,700%7CPT+Serif:400,400i,700,700i%7CSlabo+27px&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
	<!-- STYLES -->
	<!-- libs -->
	<link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" href="css/foundation/foundation.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- custom -->
	<link rel="stylesheet" href="css/main.css">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="images/favicon/manifest.json">
	<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg">
	<link rel="shortcut icon" href="images/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body>

	<!-- HEADER -->
	<header class="main-header ">
		<div class="row-fluid row-fluid--socials">
			<div class="row align-right">
				<div class="columns shrink">
					<div class="socials socials--slide-hover">
						<a href="#">
							<i class="icon-twitter icon-hover"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="#">
							<i class="icon-facebook icon-hover"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#">
							<i class="icon-linkedin icon-hover"></i>
							<i class="icon-linkedin"></i>
						</a>
						<a href="#">
							<i class="icon-pinterest-4 icon-hover"></i>
							<i class="icon-pinterest-4"></i>
						</a>
						<a href="#">
							<i class="icon-rss-1 icon-hover"></i>
							<i class="icon-rss-1"></i>
						</a>
						<a href="#">
							<i class="icon-gplus-1 icon-hover"></i>
							<i class="icon-gplus-1"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
		<div class="row-fluid" id="js-menu-sticky-anchor">
			<div class="row align-justify align-middle row-logo">
				<div class="columns small-12 medium-6">
					<div class="logo">
						<a href="index.html">

							<img src="images/logo.png" alt="Logo">

						</a>
					</div>
				</div>
				<div class="columns small-12 shrink">
					<div class="contact-phone">
						<i class="icon-phone-3"></i>Free Consultation: <span>+1 334-445-5777</span>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-container">
			<div class="row-fluid row-fluid--menu js-sticky">
				<div class="row align-middle main-navigation">

					<div class="columns small-order-2 large-order-1 menu-col">
						<nav>
							<ul class="menu main-menu">
								<li class="menu-item  menu-item-has-children">
									<a href="index.html">Home</a>
									<ul class="menu sub-menu">
										<li class="menu-item ">
											<a href="index.html">Home Extended Lawbureau</a>
										</li>
										<li class="menu-item ">
											<a href="home-2.html">Home Classic Lawbureau</a>
										</li>
										<li class="menu-item ">
											<a href="home-3.html">Home Minimal Lawbureau</a>
										</li>
									</ul>
								</li>
								<li class="menu-item "><a href="about.html">About</a></li>
								<li class="menu-item  ">
									<a href="people.html">People</a>
									<ul class="menu sub-menu">
										<li class="menu-item ">
											<a href="single-attorney-people.html">Single Lawyer</a>
										</li>
									</ul>
								</li>
								<li class="menu-item "><a href="news.html">News</a></li>

								<li class="menu-item"><a href="#">Publications</a></li>

								<li class="menu-item   menu-item-has-children mega-menu-wrapper">
									<a href="practice-1.html">Expertise</a>
									<div class="mega-sub-menu">
										<div class="mega-sub-menu__section">
											<h4 class="mega-sub-menu__title">Practice areas</h4>
											<ul class="mega-sub-menu__list mega-sub-menu__list--two-cols">
												<li class="mega-sub-menu__item "><a href="single-practice.html" class="mega-sub-menu__link">Banking & Finance</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Corporate</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Civil Litigation</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Data Protection & Privacy</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Insurance</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Real Estate</a></li>
											</ul>
											<ul class="mega-sub-menu__list mega-sub-menu__list--two-cols">
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Tax, Employment, Pensions</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Environment</a></li>
												<li class="mega-sub-menu__item"><a href="single-practice.html" class="mega-sub-menu__link">Life Sciences & Healthcare</a></li>
											</ul>
										</div>
										<div class="mega-sub-menu__section mega-sub-menu__section--separator">
											<h4 class="mega-sub-menu__title">Sectors</h4>
											<ul class="mega-sub-menu__list mega-sub-menu__list--two-cols">
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Aviations</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Energy</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Financial Institutions</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Professional Practices</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Industrial and Manufacturing</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Infrastructure and Transport</a></li>
											</ul>
											<ul class="mega-sub-menu__list mega-sub-menu__list--two-cols">
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Life Sciences & Healthcare</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Mining and Natural Resources</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Real Estate</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Insurance & Reinsurance</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Telecommunications</a></li>
												<li class="mega-sub-menu__item"><a href="#" class="mega-sub-menu__link">Hotels and Leisure</a></li>
											</ul>
										</div>
									</div>
								</li>
								<li class="menu-item   menu-item-has-children mega-menu-wrapper">
									<a href="location.html">Locations</a>
									<div class="mega-sub-menu">
										<div class="mega-sub-menu__section mega-sub-menu__section--two-thirds">
											<h4 class="mega-sub-menu__title">Location</h4>
											<ul class="mega-sub-menu__list">
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Abu Dhabi</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Amsterdam</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Bangkok</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Barcelona</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Beijing</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Brussels</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Bucharest</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Casablanca</a></li>
											</ul>
											<ul class="mega-sub-menu__list">
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Doha</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Dubai</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Düsseldorf</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Frankfurt</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Hong Kong</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Istanbul</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Jakarta</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">London</a></li>
											</ul>
											<ul class="mega-sub-menu__list">
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Luxembourg</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Madrid</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Moscow</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Munich</a></li>
												<li class="mega-sub-menu__item "><a href="single-location.html" class="mega-sub-menu__link">New York</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Paris</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Prague</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Rome</a></li>
											</ul>
											<ul class="mega-sub-menu__list">
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">São Paulo</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Seoul</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Shanghai</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Singapore</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Sydney</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Tokyo</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Warsaw</a></li>
												<li class="mega-sub-menu__item"><a href="single-location.html" class="mega-sub-menu__link">Washington</a></li>
											</ul>
										</div>
										<div class="mega-sub-menu__section mega-sub-menu__section--one-thirds">
											<h4 class="mega-sub-menu__title">Map</h4>
											<img src="images/map-dark.jpg" alt="map" />
										</div>
									</div>
								</li>
								<li class="menu-item  ">
									<a href="careers.html">Careers</a>
									<ul class="menu sub-menu">
										<li class="menu-item ">
											<a href="single-vacancy.html">Single Vacancy</a>
										</li>
									</ul>
								</li>
								<li class="menu-item current-menu-parent menu-item-has-children">
									<a href="#">Pages</a>
									<ul class="menu sub-menu">
										<li class="menu-item current-menu-item">
											<a href="FAQ.html">FAQ</a>
										</li>
										<li class="menu-item ">
											<a href="contact.html">Contact</a>
										</li>
										<li class="menu-item ">
											<a href="gallery.html">Gallery</a>
										</li>
										<li class="menu-item ">
											<a href="practice-1.html">Practice Areas 1</a>
										</li>
										<li class="menu-item ">
											<a href="practice-2.html">Practice Areas 2</a>
										</li>
										<li class="menu-item ">
											<a href="testimonials.html">Testimonials</a>
										</li>
										<li class="menu-item ">
											<a href="elements.html">Elements</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<div class="columns large-1 small-order-1 large-order-2 small-12">
						<div class="row align-middle menu-search-row">
							<div class="columns">
								<div class="nav-menu-icon"><i></i></div>
							</div>
							<div class="columns">
								<div class="row small-collapse align-right">
									<div class="columns menu-search-col">
										<form class="search-form">
											<input type="search" placeholder="Search">
										</form>
									</div>
									<div class="columns shrink">
										<button type="button" class="button btn-search"><i class="icon-search"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</header>

	<!-- PAGE HEADING -->
	<div class="page-heading page-heading--no-img s-back-switch">
		<h2 class="page-heading__title">FAQ</h2>
	</div>


	<!-- BREADCRUMBS -->
	<div class="row">
		<div class="column">
			<div class="b-breadcrumbs">
				<a href="index.html" class="b-breadcrumbs__link">Home</a>
				<a href="#" class="b-breadcrumbs__link">Pages</a>
				<a href="FAQ.html" class="b-breadcrumbs__link">FAQ</a>
			</div>
		</div>
	</div>

	<div class="row align-center">
		<div class="columns small-12 large-9">
			<!-- FAQ -->
			<div class="faq-items">

				<div class="faq-item">
					<div class="faq-item__question">
						<span class="faq-item__letter">Q</span>
						<h4>Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt?</h4>
					</div>
					<div class="faq-item__answer">
						<span class="faq-item__letter faq-item__letter--red">A</span>
						<p>Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
							mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum.</p>
					</div>
				</div>


				<div class="faq-item">
					<div class="faq-item__question">
						<span class="faq-item__letter">Q</span>
						<h4>Phasellus sit amet semper neque сlass aptent taciti sociosqu elementum euismod?</h4>
					</div>
					<div class="faq-item__answer">
						<span class="faq-item__letter faq-item__letter--red">A</span>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum. Duis pharetra volutpat vulputate. Mauris fringilla convallis dolor et aliquet. Nullam vitae sem enim,
							a velit. Nulla eu magna vel metus rutrum ullamcorper. Phasellus sit amet semper neque. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
					</div>
				</div>


				<div class="faq-item">
					<div class="faq-item__question">
						<span class="faq-item__letter">Q</span>
						<h4>Nunc in risus in turpis consectetur tincidunt at quis ipsum?</h4>
					</div>
					<div class="faq-item__answer">
						<span class="faq-item__letter faq-item__letter--red">A</span>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum. Duis pharetra volutpat vulputate. Mauris fringilla convallis dolor et aliquet. Nullam vitae sem enim,
							a velit. Nulla eu magna vel metus rutrum ullamcorper nostra, per inceptos himenaeos. Nullam sit amet libero eu mauris ultricies laoreet. Integer interdum metus commodo eros facilisis molestie. Vivamus bibendum lacus vitae tortor dictum imperdiet.</p>
					</div>
				</div>


				<div class="faq-item">
					<div class="faq-item__question">
						<span class="faq-item__letter">Q</span>
						<h4>Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt?</h4>
					</div>
					<div class="faq-item__answer">
						<span class="faq-item__letter faq-item__letter--red">A</span>
						<p>Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
							mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum.</p>
					</div>
				</div>


				<div class="faq-item">
					<div class="faq-item__question">
						<span class="faq-item__letter">Q</span>
						<h4>Phasellus sit amet semper neque сlass aptent taciti sociosqu elementum euismod?</h4>
					</div>
					<div class="faq-item__answer">
						<span class="faq-item__letter faq-item__letter--red">A</span>
						<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc in risus in turpis consectetur tincidunt at quis ipsum. Duis pharetra volutpat vulputate. Mauris fringilla convallis dolor et aliquet. Nullam vitae sem enim,
							a velit. Nulla eu magna vel metus rutrum ullamcorper. Phasellus sit amet semper neque. Class aptent taciti sociosqu ad litora torquent per conubia.</p>
					</div>
				</div>


			</div>

			<!-- ACCORDION -->
			<div class="row">
				<div class="columns">
					<div class="row">
						<div class="columns">
							<ul class="accordion" data-accordion role="tablist">
								<li class="accordion-item">
									<div role="tab" class="accordion-title">Сondimentum nec consectetur non, tincidunt malesuada </div>
									<div class="accordion-content" role="tabpanel">
										Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										Nunc in risus in turpis consectetur tincidunt at quis ipsum.
									</div>
								</li>
								<li class="accordion-item">
									<div role="tab" class="accordion-title">Mauris a varius dui nullam quis aliquet velit</div>
									<div class="accordion-content" role="tabpanel">
										Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										Nunc in risus in turpis consectetur tincidunt at quis ipsum.
									</div>
								</li>
								<li class="accordion-item">
									<div role="tab" class="accordion-title">Curabitur magna lacus, viverra eu laoreet sed aliquet</div>
									<div class="accordion-content" role="tabpanel">
										Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										Nunc in risus in turpis consectetur tincidunt at quis ipsum.
									</div>
								</li>
								<li class="accordion-item active">
									<div role="tab" class="accordion-title">Donec est metus, blandit id elementum euismod</div>
									<div class="accordion-content" role="tabpanel">
										Nullam quis aliquet velit. Mauris elit lacus, pretium pharetra bibendum sit amet, dapibus tincidunt nunc est metus, blandit id elementum euismod, facilisis quis dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										Nunc in risus in turpis consectetur tincidunt at quis ipsum.
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- SIDEBAR -->
		<div class="columns small-12 medium-6 large-3">
			<!-- Latest Posts -->
			<section class="widget widget-latest-posts">
				<h3 class="widget-title">RECENT POSTS</h3>
				<ul>
					<li>
						<a class="widget__date" href="news.html">March 18, 2017</a>
						<h4><a href="single_news.html">America's Best Corporate Law Firms</a></h4>
					</li>
					<li>
						<a class="widget__date" href="news.html">March 18, 2017</a>
						<h4><a href="single_news.html">Managing tax risks in challenging times</a></h4>
					</li>
					<li>
						<a class="widget__date" href="news.html">March 18, 2017</a>
						<h4><a href="single_news.html">Top consumer law issues we were talking about in 2015</a></h4>
					</li>
				</ul>
			</section>
			<!-- Archive -->
			<section class="widget widget_archive">
				<h3 class="widget-title">ARCHIVES</h3>
				<ul>
					<li><a href="#">January 2017</a></li>
					<li><a href="#">December 2015</a></li>
					<li><a href="#">November 2015</a></li>
					<li><a href="#">September 2015</a></li>
					<li><a href="#">August 2015</a></li>
				</ul>
			</section>
		</div>
	</div>

	<!-- GET A QUOTE -->
	<div class="get-a-quote">
		<div class="row align-center">
			<div class="column small-12 medium-expand">
				<h3 class="get-a-quote__text">Looking for a First-Class Business Plan Consultant?</h3>
			</div>
			<div class="column small-12 shrink">
				<a href="contact.html" class="btn get-a-quote__link">Get a Quote</a>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<footer class="main-footer dark-section">
		<div class="row row-widgets">
			<div class="columns small-12 medium-6 large-3">
				<section class="widget widget-address">
					<h3 class="widget-title">Contacts</h3>
					<p>The 2nd Building, 27 Seventh Avenue, New York, 10787, United States</p>
					<p class="widget-address__info icon-phone-3">+44 12 3456 7788</p>
					<p class="widget-address__info icon-mail-3"><a href="mailto:lawyerburo@law.com">lawyerburo@law.com</a></p>
				</section>
				<section class="widget widget-subscribe">
					<h3 class="widget-title">KEEP IN TOUCH WITH US</h3>
					<p>Information about current events related to our company</p>
					<form>
						<input type="text" placeholder="Enter your e-mail">
						<button type="submit" class="widget-subscribe__submit icon-paper-plane"></button>
					</form>
				</section>

			</div>
			<div class="columns small-12 medium-6 large-3">
				<section class="widget widget_pages">
					<h3 class="widget-title">EXPLORE OUR SITE</h3>
					<ul>
						<li><a href="people.html">People</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="location.html">Locations</a></li>
						<li><a href="careers.html">Careers</a></li>
						<li><a href="#">Publications</a></li>
						<li><a href="news.html">News</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</section>
			</div>
			<div class="columns small-12 medium-6 large-3">
				<section class="widget widget_categories">
					<h3 class="widget-title">PRACTICE AREAS</h3>
					<ul>
						<li class="cat-item">
							<a href="single-practice.html">Banking & Finance</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Corporate</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Civil Litigation</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Data Protection & Privacy</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Insurance</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Real estate</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Tax, Employment, Pensions</a>
						</li>
						<li class="cat-item">
							<a href="single-practice.html">Environment</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="columns small-12 medium-6 large-3">
				<section class="widget widget-latest-posts">
					<h3 class="widget-title">RECENT POSTS</h3>
					<ul>
						<li>
							<a class="widget__date" href="news.html">March 18, 2017</a>
							<h4><a href="single_news.html">America's Best Corporate Law Firms</a></h4>
						</li>
						<li>
							<a class="widget__date" href="news.html">March 18, 2017</a>
							<h4><a href="single_news.html">Managing tax risks in challenging times</a></h4>
						</li>
						<li>
							<a class="widget__date" href="news.html">March 18, 2017</a>
							<h4><a href="single_news.html">Top consumer law issues we were talking about in 2015</a></h4>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12">
				<div class="row align-justify align-middle logo-socials-footer small-collapse">
					<div class="columns small-12 medium-expand">
						<div class="logo">
							<a href="index.html">
								<img src="images/logo-footer.png" alt="Logo">
							</a>
						</div>
					</div>
					<div class="columns small-12 shrink">
						<div class="socials">
							<a href="#"><i class="icon-twitter"></i></a>
							<a href="#"><i class="icon-facebook"></i></a>
							<a href="#"><i class="icon-rss-1"></i></a>
							<a href="#"><i class="icon-linkedin"></i></a>
							<a href="#"><i class="icon-pinterest-4"></i></a>
							<a href="#"><i class="icon-gplus-1"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="columns small-12">
				<div class="row align-justify align-middle copyright small-collapse">
					<div class="columns small-12 medium-expand">
						Copyright © 2018. ThemeMakers. All rights reserved
					</div>
					<div class="columns small-12 shrink">
						Developed by <a href="https://themeforest.net/user/thememakers/portfolio">ThemeMakers</a>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="js/jquery.js"></script>
	<script src="js/swiper.jquery.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/jquery.matchHeight.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>